<footer class="bd-footer py-5 mt-5 bg-light">
  <div class="container py-5">
    <div class="row">
      <div class="col-sm-6 col-lg-3 mb-3">
        <a class="d-inline-flex align-items-center mb-2 link-dark text-decoration-none" href="/" aria-label="Bootstrap">
          <h5 class="fs-5">Shopping App</h5>
        </a>
        <ul class="list-unstyled small">
          <li class="mb-2"> Embrace fashion that speaks volumes about who you are.</li>
          <li class="mb-2">Feel free to customize it based on your specific needs and branding</li>
        </ul>
      </div>
      <div class="col-sm-6 col-lg-3 mb-3">
        <h5 class="text-center">Links</h5>
        <ul class="list-unstyled text-center">
          <li class="mb-2"><a href="/">Home</a></li>
          <li class="mb-2"><a href="/">Products</a></li>
          <li class="mb-2"><a href="/">Swag Store</a></li>
        </ul>
      </div>
      <div class="col-sm-6 col-lg-3 mb-3">
        <h5 class="text-center">See More</h5>
        <ul class="list-unstyled text-center">
          <li class="mb-2"><a href="/">Instagram</a></li>
          <li class="mb-2"><a href="/">Facebook</a></li>
        </ul>
      </div>
      <div class="col-sm-6 col-lg-3 mb-3">
        <h5 class="text-center">Community</h5>
        <ul class="list-unstyled text-center">
          <li class="mb-2"><a href="/">Issues</a></li>
          <li class="mb-2"><a href="/">Discussion</a></li>
          <li class="mb-2"><a href="/">Add Query</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
